
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<ul>
					<li>Welcome</li>
					<li>Portfolio</li>
					<li>Blog</li>
					<li>About</li>
					<li>Contact</li>
					
				</ul>
			</div>
			<div class="col-xs-4">
				<h3 class="right">Michael Collie-Acasio</h3>
			</div>
		</div>
	</div>
</div>

<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-4">
					<h2>Hello, My Name is <span class="highlight">Michael</span> and here are my creative ideas.</h2>
					<a href="#" class="btn btn-black right">View My Work</a>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="footer">
	<div class="container">
		<ul class="right">
			<li> <a href="#">F</a> </li>
			<li> <a href="#">Yt</a> </li>
			<li> <a href="#">Tw</a> </li>
		</ul>
		<p class="right">&copy; 2015 Michael Collie-Acasio</p>
	</div>
</div>

</div>