

<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-4">
					<h2>Hello, My Name is <span class="highlight">Michael</span> and here are my creative ideas.</h2>
					<a href="#" class="btn btn-black right">View My Work</a>
				</div>
			</div>
		</div>	
	</div>
</div>


