
<div class="footer">
	<div class="container">
		<ul class="right">
			<li> <a href="#">F</a> </li>
			<li> <a href="#">Yt</a> </li>
			<li> <a href="#">Tw</a> </li>
		</ul>
		<p class="right">&copy; 2015 Michael Collie-Acasio</p>
	</div>
</div>